<div class="topbar">
	<div class="page-title" id="page-title">{{title}}</div>
	<div class="topbar-actions">
		<span class="badge-admin">{{userRole}}</span>
		<div class="avatar">JD</div>
	</div>
</div>
