<div class="topbar">
	<div class="topbar-title">{{title}}</div>
	<div class="topbar-right">
		{{#if isAdmin}}
			<span class="badge badge-admin">Admin</span>
		{{else}}
			<span class="badge badge-tech">{{userRole}}</span>
		{{/if}}
		<div class="avatar">{{userInitials}}</div>
	</div>
</div>
