<div class="panel block">
	<div class="card">
		<div class="card-header">
			<span class="card-title">{{message}}</span>
		</div>
		<div class="card-body">
			<p class="api-key-note">{{error}}</p>
			<a class="btn btn-secondary" href="javascript:history.back()">Go back</a>
		</div>
	</div>
</div>
